# Ignore virtual environmentbackend/venv/# Ignore compiled Python filesbackend/__pycache__/# Ignore log filesbackend/ufc_predictor.log# Ignore model artifacts (if you don't want them in Git)backend/models/*.joblib# Ignore frontend build files & dependenciesfrontend/node_modules/frontend/build/# Ignore environment files*.env.envclaude.md
